/* styles.css */

nav {
    background-color: #f0f0f0;
    padding: 10px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 10px;
}

.menu li:last-child {
    margin-right: 0;
}

.contact-container {
    margin: 20px;
}

.contact-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-container p {
    font-size: 16px;
    margin-bottom: 20px;
}

.go-back-link {
    display: block;
    text-align: center;
    font-size: 16px;
}

/* Mobile styles */
@media (max-width: 480px) {
    nav {
        padding: 5px;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 10px;
    }

    .menu li {
        margin: 5px;
    }
}

/* styles.css */

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Mobile styles */
@media (max-width: 480px) {
    table th,
    table td {
        font-size: 14px;
        padding: 6px;
    }
}

/* styles for mobile */
@media (max-width: 480px) {
    .result-container {
        margin: 20px;
    }

    .result-container h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .result-container p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .result-container .btn {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 16px;
        margin-top: 10px;
    }
}

.grayed-out {
  color: #999999;
  background-color: #f0f0f0;
}
