/* styles.css */

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

#autocomplete-suggestions {
    position: absolute;
    background-color: white;
    top: 100%
    left: 0; /* Align it with the left edge of the input */
    right: 0;
    border: 1px solid #ccc;
    max-height: 200px; /* Set a maximum height to limit the suggestions' size */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    width: 100%; /* Match the width of the input field */
    z-index: 1; /* Ensure the suggestions appear above other elements */
}

/* Style for each suggestion item */
#autocomplete-suggestions div {
    padding: 5px;
    cursor: pointer;
}

/* Style for the selected suggestion */
#autocomplete-suggestions div:hover {
    background-color: #f0f0f0; /* Highlight on hover */
}

.fun-facts-container {
    display: flex;
    justify-content: space-between; /* To create space between the columns */
}

.fun-facts-column {
    margin: 32px;
}

table th,
table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

/* Add styles to align the "Handle" column to the left */
table td.handle {
    text-align: left;
}

/* Add styles to align the "Date" column to the right */
table td.date {
    text-align: right;
}

/* Right-align the "Date" header */
table th.date {
    text-align: right;
}

.atp-label {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: #888;
}

.form-container {
    margin-top: 0px;
}

.btn.btn-primary {
    width: 98%;
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
}

/* Styles for the loading spinner */
.loading-spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-spinner h1 {
    font-size: 24px;
    margin-top: 20px;
}

nav {
    padding: 10px;
    text-align: right;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.form-group {
    position: relative;
    margin-bottom: 5px; /* Add margin at the bottom of each form group */
}

.menu li {
    display: inline-block;
    margin-right: 10px;
}

.menu li:last-child {
    margin-right: 0;
}

.contact-container {
    margin: 20px;
}

.contact-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-container p {
    font-size: 16px;
    margin-bottom: 20px;
}

.go-back-link {
    display: block;
    text-align: center;
    font-size: 16px;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#base-container {
    margin-right: 10px;
    text-align: right;
}

#block-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#block-list {
    width: 100%; /* Set the maximum width of the blocklist */
    margin: 0 auto; /* Center the blocklist container */
    padding: 10px;
    border: 1px solid #ccc;
    overflow-y: auto;
    overflow-x: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#block-list h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

#block-list h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

#block-list h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

/* styles for mobile */
@media (max-width: 480px) {
    .result-container {
        align-content: center;
        margin: 2px;
    }

    /* Reset the alignment styles for both "Handle" and "Date" columns */
    table td.handle {
        text-align: left; /* Adjust alignment as needed for mobile */
        word-wrap: break-word;
    }
    table td.date {
        text-align: right; /* Adjust alignment as needed for mobile */
    }

    .fun-facts-container {
        flex-direction: column; /* Stack columns on top of each other */
    }

    .fun-facts-column {
        margin: 0; /* Remove margin to center-align columns */
    }

    /* Reduce padding for better mobile spacing */
    table th,
    table td {
        padding: 4px;
        width: 100%;
    }

    /* Make the table responsive by allowing horizontal scrolling */
    table {
        max-width: 100%; /* Ensure the table doesn't exceed the viewport width */
        table-layout: fixed; /* Fixed layout to prevent cells from expanding */
        width: 100%; /* Set the table width to 100% */
    }

    /* Right-align the "Date" header */
    table th.date {
        text-align: right;
    }

    body {
        margin: 0;
        display: grid; /* Reset to default display value */
        justify-content: initial;
        align-items: initial;
        background-color: initial;
        text-align: center;
    }

    .form-control {
        width: 90%; /* Set the width to 100% to occupy the full container width */
        padding: 10px; /* Increase padding for better touch interaction */
        font-size: 24px; /* Adjust the font size for better readability */
        border: 4px solid #ccc;
        border-radius: 4px;
        margin-top: 2px;
        margin-bottom: 5px;
        display: block; /* Ensure the input is a block element */
        margin-left: auto; /* Auto margin on the left */
        margin-right: auto; /* Auto margin on the right */
        text-align: center;
    }

    .form-group label {
        font-size: 24px; /* Adjust the font size as needed */
    }

    #submit-button {
        width: 98%;
        padding: 15px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 10px;
        font-size: 30px;
        text-align: center;
        margin-top: 20px;
    }

    #go-back-button {
        width: 93%;
        padding: 15px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 10px;
        font-size: 30px;
        text-align: center;
        margin-top: 20px;
    }

    nav {
        padding: 5px;
    }

    .result-container h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    #index-container  {
        text-align: center;
    }

    .result-container p {
        font-size: 5vw;
        margin-bottom: 20px;
    }

    #base-container {
        text-align: center; /* Center the content horizontally */
        margin-top: 2px; /* Add top margin for spacing */
        margin-right: 0;
        align-content: center;
        display: grid;
    }

    .handle_history_list {
        text-align: left; /* Center-align the text within list items */
    }

    .contact-container p {
        font-size: 8vw;
    }

    .contact-container h1 {
        font-size: 40px;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 10px;
        font-size: 30px;
    }

    .menu li {
        margin: 8px;

    }

    .fun-facts-container {
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-left: 10px;
        margin-right: 10px;
        text-align: left;
    }

    .fun-facts-container h2 {
        text-align: center;
    }

    .result-container .btn {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 10px;
        margin-top: 10px;
    }

    #comingsoon-container {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 20px;
        margin-top: 10px;
    }

    #block-list-container {
        margin: 0 auto; /* Center the block list container horizontally */
    }

    #block-list {
        max-height: 600px; /* Set the maximum height for the block list container */
        overflow-x: auto;
        overflow-y: auto; /* Enable vertical scrolling if the content exceeds the max-height */
        border: 4px solid #ccc; /* Optional border for the block list container */
        padding: 0px; /* Optional padding for the block list container */
    }

    #block-list h1{
        margin-bottom: 2px;
    }

    #block-list h2{
        margin-bottom: 2px;
    }

    #block-list h3 {
        margin-bottom: 15px; /* Optional spacing between headings and the list */
    }
}
