<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T8G2LW2PPB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-T8G2LW2PPB');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <title>ClearSky Search Tool</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="base-container">
        <h1>ClearSky Search Tool</h1>
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/frequently_asked">FAQ</a></li>
                <li><a href="/fun_facts">Top Blocks</a></li>
                <li><a href="/funer_facts">Last 24 hours</a></li>
                <li><a href="/block_stats">Block Statistics</a></li>
            </ul>
        </nav>
    </div>
    {% block content %}
    {% endblock %}
    <div class="atp-label">Powered by ATP</div>
    <div class="comp-label">© 2024 Bluethernal LLC</div>
</body>
</html>
