{% extends "base.html" %}

{% block title %}Total Users{% endblock %}

{% block content %}
    <div class="statistics-container">
        <h1>Block Statistics</h1>
        <p>Total individual blocks: {{ number_of_total_blocks }}</p>
        <p>Total users: {{ total_users }}</p>
        <p>Number of users blocked by someone (at least one person)</p>
        <p>{{ number_of_unique_users_blocked }} | {{ percent_users_blocked }}%</p>
        <p>Number of users blocking someone (at least one person)</p>
        <p>{{ number_of_unique_users_blocking }} | {{ percent_users_blocking }}%</p>
        <p>Number of users blocking 1 user</p>
        <p>{{ number_block_1 }} | {{ percent_number_blocking_1 }}%</p>
        <p>Number of users blocking 2-100 users</p>
        <p>{{ number_blocking_2_and_100 }} | {{ percent_number_blocking_2_and_100 }}%</p>
        <p>Number of users blocking 101-1000 users</p>
        <p>{{ number_blocking_101_and_1000 }} | {{ percent_number_blocking_101_and_1000 }}%</p>
        <p>Number of users blocking more than 1000 users</p>
        <p>{{ number_blocking_greater_than_1000 }} | {{ percent_number_blocking_greater_than_1000 }}%</p>
<!--        <a href="/" class="btn btn-primary">Go Back</a>-->
    </div>
{% endblock %}