{% extends "base.html" %}

{% block content %}
    <div id="block-list-container">
        <div id="block-list">
            <h1>Block List</h1>
            <h2 id="user-heading">{{ user }}</h2>
            <h3 id="block-count">Number of accounts blocking: {{ count }}</h3>
            <table>
                <tr>
                    <th class="handle">Handle</th>
                    <th class="date">Date</th>
                </tr>
                {% for user, date in blocklist %}
                <tr>
                    <td class="handle"><a href="https://bsky.app/profile/{{ user }}" target="_blank">{{ user }}</a></td>
                    <td class="date">{{ date }}</td>
                </tr>
                {% endfor %}
            </table>

            <!-- Pagination controls -->
            <div class="pagination">
                {% if page > 1 %}
                    <a href="{{ url_for('blocklist', identifier=identifier, page=page-1) }}" class="prev">Previous</a>
                {% endif %}
                {% if more_data_available %}
                    <a href="{{ url_for('blocklist', identifier=identifier, page=page+1) }}" class="next">Next</a>
                {% endif %}
            </div>
        </div>
        <a href="/" class="btn btn-primary" id="go-back-button">Go Back</a>
    </div>
{% endblock %}
