{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
    <div class="contact-container">
        <h1>Contact Us</h1>
        <p>Bluesky: <a href="https://bsky.app/profile/did:plc:4e3wxro75sds7cc2yfgnbnrc" target="_blank">thieflord.dev</a></p>
        <p>Email: <a href="mailto:support@clearsky.app">request@thieflord.dev</a></p>
        <p>Support: <a href="https://ko-fi.com/thieflord" target="_blank">click here</a></p>
<!--        <a href="/" class="btn btn-primary" id="go-back-button">Go Back</a>-->
    </div>
{% endblock %}
