{% extends 'base.html' %}

{% block content %}
<div class="fun-facts-container">
    <h2>Top Blocked in the last 24 hours</h2>
    <ul style="list-style-type: none;">
        {% for item in blocked_results %}
            <li>
               {{ loop.index }}. <a href="{{ item.ProfileURL }}" target="_blank">{{ item.Handle }}</a>
                - {{ item.block_count }}
            </li>
        {% endfor %}
    </ul>

    <h2>Top Blockers in the last 24 hours</h2>
    <ul style="list-style-type: none;">
        {% for item in blockers_results %}
            <li>
                {{ loop.index }}. <a href="{{ item.ProfileURL }}" target="_blank">{{ item.Handle }}</a>
                - {{ item.block_count }}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
