{% extends 'base.html' %}

{% block content %}
<div class="fun-facts-container">
    <div class="fun-facts-column">
        <h2>Top Blocked in the last 24 hours</h2>
        <ul style="list-style-type: none;">
            {% for item in blocked_results %}
                <li>
                   {{ loop.index }}. <img src="https://av-cdn.bsky.app/img/avatar/plain/{{ item.did }}/{{ blocked_aid[item.did] }}@jpeg" alt="{{ item.Handle }}'s Profile Picture" width="30" height="30">
                    <a href="{{ item.ProfileURL }}" target="_blank">{{ item.Handle }}</a>
                    - {{ '{:,.0f}'.format(item.block_count) }}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="fun-facts-column">
        <h2>Top Blockers in the last 24 hours</h2>
        <ul style="list-style-type: none;">
            {% for item in blockers_results %}
                <li>
                    {{ loop.index }}. <img src="https://av-cdn.bsky.app/img/avatar/plain/{{ item.did }}/{{ blocker_aid[item.did] }}@jpeg" alt="{{ item.Handle }}'s Profile Picture" width="30" height="30">
                    <a href="{{ item.ProfileURL }}" target="_blank">{{ item.Handle }}</a>
                    - {{ '{:,.0f}'.format(item.block_count) }}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
