{% extends "base.html" %}

{% block content %}
    <div id="block-list-container">
        <div id="block-list">
            <h1>Blocks in common with</h1>
            <h2 id="user-heading">{{ user }}</h2>
            <table>
                <tr>
                    <th class="handle">Handle</th>
                    <th class="date">Percent matched</th>
                </tr>
                {% for handle, percent, status in data %}
                <tr>
                    {% if status == True %}
                    <td class="handle"><a href="https://bsky.app/profile/{{ handle }}" target="_blank">{{ handle }}</a>
                    {% else %}
                    <td class="handle">{{ handle }}</td>
                    {% endif %}
                    <td class="date">{{ percent }}%</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <a href="/" class="btn btn-primary" id="go-back-button">Go Back</a>
    </div>
{% endblock %}
