{% extends "base.html" %}

{% block content %}
    <form action="/selection_handle" method="POST">
        <label for="identifier">Enter DID or Handle:</label>
        <input type="text" name="identifier" id="identifier">
        <br>
        <br>
        <label for="selection">Select an option:</label>
        <select name="selection" id="selection">
            <option value="1">Get DID</option>
            <option value="2">Get Handle</option>
            <option value="3">Get Block List of a User</option>
        </select>
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}