{% extends "base.html" %}

{% block content %}
    <div id="mute-list-container">
        <div id="mute-list">
            <h1>Mute List(s)</h1>
            <h2 id="user-heading">{{ user }} is on</h2>
            <table>
                <tr>
                    <th class="creator">Creator</th>
                    <th class="list_name">List Name</th>
                    <th class="description">Description</th>
                    <th class="date_created">Date Created</th>
                    <th class="date_added">Date Added</th>
                </tr>
                {% for item in mute_lists %}
                <tr>
                    <td class="creator">
                        {% if item.status %}
                        <a href="https://bsky.app/profile/{{ item.creator }}" target="_blank">{{ item.creator }}</a>
                        {% else %}
                        {{ item.creator }}
                        {% endif %}
                    </td>
                    <td class="list_name"><a href="{{ item.url }}" target="_blank">{{ item.list_name }}</a></td>
                    <td class="description">{{ item.description }}</td>
                    <td class="date_created" data-utc-timestamp="{% if item.list_created_date % }{{ item.list_created_date.timestamp() }}{% else %}None{% endif %}">{{ item.list_created_date }}</td>
                    <td class="date_added" data-utc-timestamp="{% if item.date_user_added % }{{ item.date_user_added.timestamp() }}{% else %}None{% endif %}">{{ item.date_user_added }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <a href="/" class="btn btn-primary" id="go-back-button">Go Back</a>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Get all elements with the data-utc-timestamp attribute
            const utcTimestampElements = document.querySelectorAll("[data-utc-timestamp]");

            utcTimestampElements.forEach(function (element) {
                const utcTimestamp = parseFloat(element.getAttribute("data-utc-timestamp") * 1000); // Convert to milliseconds
                const localDate = new Date(utcTimestamp);

                // Format the local date as desired (e.g., 'YYYY-MM-DD hh:mm:ss a')
                const localDateString = localDate.toLocaleString();

                // Update the content of the element with the local date
                element.textContent = localDateString;
            });
        });
    </script>
{% endblock %}
